name: Notificaci贸n de Modificaci贸n de C贸digo

on:
  pull_request:
    types: [opened, edited]

jobs:
  notify-code-modification:
    runs-on: ubuntu-latest

    steps:
    - name: Comentar en la solicitud de modificaci贸n
      uses: actions/github-script@v6
      with:
        script: |
          github.issues.createComment({
            issue_number: context.payload.pull_request.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: " Se ha creado o modificado un pull request. Por favor, revisen los cambios propuestos en el c贸digo. 隆Gracias, equipo!"
          })
