name: Notificaci贸n de Nueva Solicitud de Funci贸n

on:
  issues:
    types: [opened]

jobs:
  notify-new-feature:
    runs-on: ubuntu-latest

    steps:
    - name: Verificar si la solicitud es una funci贸n nueva
      if: contains(github.event.issue.labels.*.name, 'feature request')
      uses: actions/github-script@v6
      with:
        script: |
          github.issues.createComment({
            issue_number: context.payload.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: " Nueva solicitud de funci贸n detectada. El equipo ha sido notificado sobre la nueva caracter铆stica solicitada: [${{ github.event.issue.title }}]. Por favor, revisen y den su opini贸n. 隆Gracias!"
          })
